* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Roboto";
}

body {
  max-height: 100vh;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.alignment {
  padding: 16px 10%;
}

ul {
  list-style-type: none;

  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 900;
  color: white;
  font-size: 24px;
}

.dark-bg {
  background-color: #1f2937;
}

.hero-section {
  flex: 1;

  display: flex;
}

.hero-img {
  background-color: grey;
  height: 300px;
  flex: 1;
}
